.carouselContainer {
  width: 100%;
  overflow: hidden; 
}

.carousel :global(.slick-dots li button:before) {
  margin-top: -30px;
  color: #a3c5f7;
  font-size: 10px;
}

.carousel :global(.slick-dots li.slick-active button:before) {
  margin-top: -30px;
  color: #0064ff;
  font-size: 10px;
}

.carousel {
  width: 100%; 
}

.cardContainer {
  margin-left: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 555px;
  margin-top: 30px;
}
