.carouselContainer {
  overflow: hidden; 
  max-width: 1300px;
}

.carousel :global(.slick-dots li button:before) {
  margin-top: -30px;
  color: #a3c5f7;
  font-size: 10px;
}

.carousel :global(.slick-dots li.slick-active button:before) {
  margin-top: -30px;
  color: #0064ff;
  font-size: 10px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 516px;
  margin-top: 30px;
}
.cartas{
  width: 300px;
}
