.containerGlobal{
  background: #0064ff;
  height: 58px;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.image {
  width: 119px;
  height: 19px;
}
.bar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 54px;
  gap: 15px;
}
.navigation {
  color: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 100%;
  transition: 5ms;
  &:hover {
    border-bottom: #f2f4f8 4px solid;
}
}
.navigationActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 100%;
  transition: 5ms;
  border-bottom: #f2f4f8 4px solid;
}
.links{
  text-decoration: none;
  color: #f2f4f8;
  font-size: 13px;
  font-weight: 500;
}

.box3 {
  display: flex;
  align-items: center;
}
.buttons {
  background-color: #0064ff;
  border: none;
  color: #cdd3de;
  width: 30px;
  margin-inline: 2px;
  height: 54px;
}
.icon {
  font-size: 20px;
  width: 20px;
  height: 58px;
  color: #f2f4f8;
  &:hover {
    cursor: pointer;
    height: 54px;
    border-bottom: #f2f4f8 4px solid;
  }
}
.containLanguage {
  height: 30px;
  width: 106px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
}
.language {
  font-size: 12px;
  font-weight: 700;
  margin: 0 1px 0 1px;
  background-color: #3081fe;
  border: none;
  line-height: 18.46px;
  text-align: center;
  width: 33px;
  color: #f2f4f8;
  height: 30px;
  &:hover {
    background-color: #91bbfb;
    cursor: pointer;
  }
}
.hidden {
  position: absolute;
  right: 0%;
  top: 58px;
  background-color: #eceeefd4;
  display: flex;
  width: 100%;
}
.menu{
  display: flex;
}
.title{
font-size: 24px;
font-weight: 600;
line-height: 21.6px;
letter-spacing: -0.02em;
text-align: left;
color: #455363;
}
.bold{
font-size: 13px;
font-weight: 700;
line-height: 15.73px;
text-align: left;
color: #455363  ;
}
.text{
font-size: 11px;
font-weight: 600;
line-height: 13.31px;
text-align: left;
color: #697581;
}