.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  background: #0064ff;
  height: 55px;
}

.image {
  width: 119px;
  height: 19px;
}
.bar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 467px;
  height: 55px;
  gap: 18px;
}
.navigation {
  text-decoration: none;
  color: #f2f4f8;
  font-size: 13px;
  width: 79px;
  text-align: center;
  height: 35px;
  font-weight: 500;
  line-height: 15.73px;
  margin-top: 20px;
  &:hover {
    height: 31px;
    border-bottom: #f2f4f8 4px solid;
  }
}
.navigationActive {
  text-decoration: none;
  color: #f2f4f8;
  font-size: 13px;
  width: 79px;
  height: 31px;
  text-align: center;
  font-weight: 600;
  line-height: 15.73px;
  margin-top: 20px;
  border-bottom: #f2f4f8 4px solid;
}
.products {
  border-radius: 30px;
  width: 100px;
  font-weight: bolder;
  cursor: pointer;
  background-color: #0064ff;
  color: #cdd3de;
  border: #cdd3de solid 2px;
  height: 30px;
}
.box3 {
  display: flex;
  align-items: center;
}
.buttons {
  background-color: #0064ff;
  border: none;
  color: #cdd3de;
  width: 30px;
  margin-inline: 3px;
  height: 30px;
}
.icon {
  font-size: 20px;
  width: 20px;
  height: 55px;
  color: #f2f4f8;
  &:hover {
    cursor: pointer;
    height: 47px;
    border-bottom: #f2f4f8 4px solid;
  }
}
.containLanguage {
  height: 30px;
  width: 106px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
}
.language {
  font-size: 12px;
  font-weight: 700;
  margin: 0 1px 0 1px;
  background-color: #3081fe;
  border: none;
  line-height: 18.46px;
  text-align: center;
  width: 33px;
  color: #f2f4f8;
  height: 30px;
  &:hover {
    background-color: #91bbfb;
    cursor: pointer;
  }
}
.hidden{
  position: absolute;
  background-color:#cdd3de ;
}