.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  width: 888px;
  padding: 24px;
  gap: 24px;
  border-radius: 30px;
}
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputs,
.inputs1,
.inputs2,
.inputs3,
.inputs4 {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #f2f4f8;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  outline: none;
  background-color: #f2f4f8;
}
.inputs:hover,
.inputs1:hover,
.inputs2:hover,
.inputs3:hover,
.inputs4:hover {
  box-shadow: 0 0 5px #4285f4;
}
.inputs:focus,
.inputs1:focus,
.inputs2:focus,
.inputs3:focus,
.inputs4:focus {
  border-color: #4285f4;
  box-shadow: 0 0 5px #4285f4;
  background-color: #ffffff;
}
.label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #a6a6a6;
  pointer-events: none;
  transition: all 0.2s ease;
}
.inputs:focus + .label,
.inputs:not(:placeholder-shown) + .label,
.inputs1:focus + .label,
.inputs1:not(:placeholder-shown) + .label,
.inputs2:focus + .label,
.inputs2:not(:placeholder-shown) + .label,
.inputs3:focus + .label,
.inputs3:not(:placeholder-shown) + .label,
.inputs4:focus + .label,
.inputs4:not(:placeholder-shown) + .label {
  top: -16px;
  left: 10px;
  font-size: 12px;
  color: #455363;
}
.box1,
.box2 {
  display: flex;
  width: 100%;
  gap: 10px;
}
textarea.inputs {
  height: 337px;
}
.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #4285f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #357ae8;
}
.inputs1 {
  width: 555px;
}
.inputs4 {
  width: 274px;
}
.inputs2,
.inputs3 {
  width: 95%;
}
