.button {
  background-color: #181a20;
  width: 380.62px;
  height: 146px;
  border-radius: 30px;
  margin: 10px;
  transition: 0.5s;
  &:hover{
    background-color:#0064FF;
    cursor: pointer;
  }
}
.img {
  position: relative;
  left: 304.91px;
  top: 25px;
}
.text {
  position: relative;
  width: 327.42px;
  left: 30px;
  height: 28px;
  font-weight: 700;
  font-size: 24px;
  color: #f2f4f8;
}
