.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player {
  margin-top: 72px;
  border-radius: 16px;
  margin-bottom: 72px;

}
