.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner{
  margin-top: 80px;
}
.player {
  margin-top: 72px;
  border-radius: 16px;
  margin-bottom: 72px;

}
