.container {
  width: 288px;
  height: 87px;
  border-radius: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c3c8cd;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding:0 8.5px 0 20px;
  color: #455363;
  transition: 1s;
  &:hover{
    color:#f2f4f8 ;
    background-color: #0064ff;
  }
}

.buttoncont {
  width: 70px;
  height: 70px;
  background-color: #0064ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttontext {
  font-size: 60px;
  font-weight: 500;
  color: #f2f4f8;
}
