.container {
  background-color: #181A20;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.chest {
  display: flex;
  padding-top: 52px;
  justify-content: space-around;
  margin-bottom: 30px;
}
.Box1 {
  background-color: #0055d8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 416px;
  text-align: center;
  align-content: center;
}
.Box2 {
  text-align: center;
  align-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: column;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: grey;
}
.navbar2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 50px;
  margin: 0 150px 30px 0;
}
.chest2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chest3 {
  display: flex;
  justify-content: space-between;
  background-color: #0064ff;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.links {
  color: #cdd3de;
  margin: 5px;
  font-size: 15px;
  text-decoration: none;
}
.icon {
  font-size: 21.03px;
  margin: 10px;
  color: #0064FF;
  cursor: pointer;
}

.icons {
  margin: 0 20px 0 80px;
}

.copyright {
  margin: 0 60px 0 0;
  color: #F2F4F8;
}
.componentNav {
  color: #cdd3de;
  margin: 10px;
  cursor: pointer;
}
.text {
  color: #cdd3de;
  margin: 10px 0 10px 0;
}
.location {
  width: 350px;
  margin: -13px;
}
.title {
  color: #0064ff;
}
.mail {
  color: #0064ff;
}

.speach{
  color: #F2F4F8;
}