.container {
  background-color: #181a20;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.chest {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 0 0;
}
.Box1 {
  background-color: #0055d8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 600px;
  text-align: center;
  align-content: center;
}
.Box2 {
  text-align: center;
  align-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: column;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: grey;
}
.navbar2 {
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
  text-align: center;
}
.chest2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chest3 {
  display: flex;
  justify-content: space-between;
  background-color: #0064ff;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.links {
  color: #cdd3de;
}
.icon {
  font-size: 20px;
  margin: 10px;
  color: #0055d8;
}

.icons {
  margin: 0 20px 0 80px;
}

.copyright {
  margin: 0 60px 0 0;
}
.text {
  color: #cdd3de;
  margin: 10px;
  
}
