.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  gap: 10px;
}
.links{
    text-decoration: none;
  color: #181a20;
}
.cardContainer{
    margin-top: 80px;
}