.containerD {
  display: flex;
  width: 1100px;
  justify-content: space-around; /* Modificado */
  align-items: center;
  background-color: #ffffff;
  margin: 32px;
  border-radius: 30px;
  overflow-y: hidden;
}
.containerI {
  display: flex;
  height: 416px;
  width: 1100px;
  justify-content: space-around; /* Modificado */
  align-items: center;
  flex-direction: row-reverse;
  background-color: #ffffff;
  margin: 32px;
  border-radius: 30px;
  overflow-y: hidden;
}
.containerText {
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 50px 0 50px;
}
.title {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  width: 340px;
  letter-spacing: -0.02em;
  text-align: left;
}
.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #455363;
  text-align: left;
}
.button {
  color: #0064ff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30.77px;
  letter-spacing: -0.01em;
  text-align: left;
  cursor: pointer;
}
