.container {
  margin: 10px;
  background-color: #e9eef3;
  width: 800px;
  height: 70%;
  border-radius: 60px;
  align-items: center;
  text-align: center;
}
.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.name {
  font-size: 50px;
  font-weight: 600;
  line-height: 57.6px;
  letter-spacing: -0.03em;
  text-align: left;
}
.link{
  text-decoration: none;
}